@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$font-stack: 'Roboto', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
}

.input-sizes input[type='radio'] {
  display: none;
}
.input-sizes input[type='radio']:checked + label {
  background-color: rgba(0, 0, 0, 0.09);
  color: #4b5563;
}

.input-payment input[type='radio'] {
  display: none;
}
.input-payment input[type='radio']:checked + label {
  background-color: rgba(0, 0, 0, 0.1);
  color: #4b5563;
}

.primary-button {
  @apply w-max px-6 py-2 my-2 border rounded-md flex justify-center gap-2 text-white bg-blue-900 hover:bg-gray-200 hover:border-blue-900 hover:text-black;
}

.default-button {
  @apply w-max px-6 py-2 my-2 border rounded-md flex justify-center gap-2 text-white bg-gray-800 hover:bg-gray-200 hover:border-blue-900 hover:text-black;
}

.alert-error {
  @apply my-3 rounded-lg bg-red-100 p-3 text-red-700;
}

.alert-success {
  @apply my-3 rounded-lg bg-green-100 p-3 text-green-700
}
